.flex-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
}

.todo-container,
.done-container {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 2px;
    box-shadow: 0 1px 5px black;
}

.todo-label,
.done-label {
    position: sticky;
    top: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.463);
    width: 100%;
    text-align: center;
}

.todo-element,
.done-element {
    height: 100%;
    overflow-y: scroll;
}
.table-container {
    display: flex;
    flex-direction: row;
}